@model ModelHelper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr style="border-color:#df691a" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.WorkPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.WorkPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRole.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRole.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
